@media (max-width: 950px) {
  .container {
    width: 96%;
  }

  nav {
    height: 23vh;
  }

  body {
    background: #808080;
  }

  main {
    width: 95%;
    margin: 2rem auto;
  }

  .card {
    min-height: 26vh;
  }

  .card-txt {
    line-height: normal;
  }

  .gist {
    height: 14px;
    width: 95%;
    justify-content: space-around;
    flex-wrap: wrap;

    /* flex-wrap: wrap; */
    /* align-items: flex-end; */
  }

  /* .gist span p {
    display: none;
  } */

  .gist span,
  .gist span img,
  .gist span b {
    padding: 0;
  }
}
