@media (max-width: 900px) {
  .gist span p {
    display: flex;
  }

  main {
    width: 95%;
    margin: 2rem auto;
  }
}

@media (max-width: 600px) {
  .container {
    min-width: 95%;
  }

  nav {
    min-height: 26vh;
  }

  .contributor {
    height: 15vh;
    flex-wrap: wrap;
  }

  .select select {
    padding: 0.6rem 1rem;
  }

  body {
    background: #808080;
  }

  main {
    min-width: 96%;
    /* margin: 2rem auto; */
  }

  .card {
    min-height: 25vh;
  }

  .card-txt {
    line-height: normal;
  }

  .gist {
    /* min-height: 8vh; */
    width: 95%;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: flex-end;
  }

  .gist span p {
    display: none;
  }

  .gist span,
  .gist span img,
  .gist span b {
    padding: 0;
  }
}
